# Mac DS_Store Files
.DS_Store

# sublime text
index.sublime-workspace

# yii
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
runtime/
.DS_Store
