body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
ul{list-style: none;}
body{font-family: "Microsoft Yahei";color: #7c7c7c;background-color: #ffffff;}
.hr_30{height: 30px;width: 100%;}
/*电脑适配*/
@media only screen and (min-width: 650px){
.comWidth{width:640px;height:100%;margin:auto auto;}
}

.act1_top img{width: 100%;}
.act1_top{width:100%;height:auto;background-color: pink;}
.act1_body{width:100%;height:auto; }
.ab_tit{width: 100%;padding: 1% 0px;}
.ab_tit .tit_img{width: 60%;}
.android_btn, .apple_btn{width:13%;margin-left: 1%;}

/*头像*/
.head_imgList{margin-left: 2%;}
.head_imgList li{float: left;margin-left: 3%;width: 80px;height: 80px;}
.head_imgList li h3{width: 70%;font-size: 14px;
	text-align: center;margin: 0 auto;
	text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.head_imgList img{width: 100%;height: 100%;border-radius: 100%;}
.star, .hot_photos{font-size: 24px;margin:2.5%;padding-top: 3%;}

/*热门照片*/
.hot_photos_box{width: 100%;height:auto;margin: 0 auto;}
.hot_photos_list{width: 100%;height: auto;
	column-width:202px;
	-webkit-column-width:202px;
    -moz-column-width:202px; 
    -o-column-width:202px;
    -ms-column-width:202px;
    column-gap:2px;
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
}
.hot_photos_list li{width:202px;height:auto;margin-left: 1%;
	margin-bottom: 3%;position: relative;}
.hot_photos_list a{color: #7c7c7c;text-decoration: none;}
.hot_photos_list li img{width: 100%;}
.hot_photos_list li div{position: absolute;right: 10px;bottom: 10px;
	height: 30px;line-height: 30px;padding-left: 30px;padding-right: 3px;
	background: rgba(255,255,255,0.5) url("../css/images/heart_orange_small.png")3px center no-repeat;
	background-size: auto 70%;
	border-radius: 8px;}


/*手机适配（小）*/
@media only screen and (min-width: 300px) and (max-width: 650px){

.comWidth{width:100%;height:100%;margin:auto auto;}
.ab_tit{
	padding:2% 0px 0px 2%;
}

.head_imgList li h3{width: 100%;font-size: 10px;text-align: center;
	text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

/*热门照片*/

.hot_photos_list li div{position: absolute;right: 5px;bottom: 5px;
	height: 18px;line-height: 18px;padding-left: 18px;padding-right: 3px;
	font-size: 10px;
	border-radius: 5px;}

}
/*微信头像,瀑布流照片匹配*/
@media only screen and (min-width: 300px) and (max-width: 350px){
	.head_imgList li{width: 40px;height: 40px;}
	.star, .hot_photos{font-size: 12px;}
	.mian{font-size: 12px;}
	.hot_photos_list{
	-webkit-column-width:100px;
    -moz-column-width:100px; 
    -o-column-width:100px;
    -ms-column-width:100px; 
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 100px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}
@media only screen and (min-width: 351px) and (max-width: 400px){
	.head_imgList li{width: 45px;height: 45px;}
	.star, .hot_photos{font-size: 13px;}
	.mian{font-size: 13px;}
	.hot_photos_list{
	-webkit-column-width:116px;
    -moz-column-width:116px; 
    -o-column-width:116px;
    -ms-column-width:116px; 
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 116px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}
@media only screen and (min-width: 401px) and (max-width: 450px){
	.head_imgList li{width: 50px;height: 50px;}
	.hot_photos_list{
	-webkit-column-width:130px;
    -moz-column-width:130px; 
    -o-column-width:130px;
    -ms-column-width:130px;
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 130px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}
@media only screen and (min-width: 451px) and (max-width: 500px){
	.head_imgList li{width: 56px;height: 56px;}
	.hot_photos_list{
	-webkit-column-width:150px;
    -moz-column-width:150px; 
    -o-column-width:150px;
    -ms-column-width:150px; 
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 150px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}
@media only screen and (min-width: 501px) and (max-width: 550px){
	.head_imgList li{width: 65px;height: 65px;}
	.hot_photos_list{
	-webkit-column-width:162px;
    -moz-column-width:162px; 
    -o-column-width:162px;
    -ms-column-width:162px; 
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-webkit-o-gap:2px;
	-moz-ms-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 162px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}
@media only screen and (min-width: 551px) and (max-width: 600px){
	.head_imgList li{width: 70px;height: 70px;}
	.hot_photos_list{
	-webkit-column-width:180px;
    -moz-column-width:180px; 
    -o-column-width:180px;
    -ms-column-width:180px; 
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 180px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 640px){
	.head_imgList li{width: 75px;height: 75px;}
	.hot_photos_list{
	-webkit-column-width:196px;
    -moz-column-width:196px; 
    -o-columns-width:196px;
  	-ms-columns-width:196px;
	-webkit-column-gap:2px;
	-moz-column-gap:2px;
	-o-column-gap:2px;
	-ms-column-gap:2px;
	}
	.hot_photos_list li{
		float: left;
		width: 196px;
		padding-left:2px;
		padding-right: 2px;
		padding-top:4px;
	}
}