body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}

body{background-color: #EEEEEE;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.comWidth{width:100%;height:100%;margin:auto auto;}
.pay_title{margin-top:66px;margin-bottom:58px;}
.pay_title h3{
	line-height:100%;
	text-align:center;
	font-size:36px;
	background:url(images/h_left_icon.jpg)24px 4px no-repeat;

}
.gold{
	width:93.75%;
	height:396px;
	background-color:#EFEDE4;
	margin:0 auto;
	border-radius:20px;
	margin-bottom: 30px;
}
.money_list{list-style:none;}
.money_list li{height:98px;width:100%;font-size: 31px;line-height: 98px;}
.money_list li:hover{background-color: #F97954;color: #FFFFFF;}
.money_list .num{
	width:50%;height:100%;
	float:left;
	background:url(images/gold.png)22.67% center no-repeat;
	line-height:98px;
	text-indent:23%;
}

.money_list .money{
	width:50%;height:100%;
	float:left;
	line-height:98px;
	text-indent:20%;
}
.hr_3{height:2px;width:100%;background:#A2A2A2;}
.pay_select{height:98px;width:100%;background-color:#DDDAD5; }
.pay_select h3{font-size: 29px;text-indent: 8.75%;padding-top:38px;color: #555554;}
.share{
	height:228px;width: 100%;
	background-color:blue;
}

.share{
	background-color: #EAE8DC;
	width:93.75%;
	margin:0 auto;
	border-radius:0 0 20px 20px;
}
.share ul{list-style: none;}
.share li{
	height:228px;width:100%;
	font-size: 31px;
	margin-bottom: 61px;
}
.share .weixin{
	width:50%;height: 100%;
	float: left;
	background:url("images/weixin.png")center center no-repeat;
}
.share .z_f_b{
	width: 50%;height: 100%;
	background-color: green;
	float: right;
	background:url("images/pay.jpg")center center no-repeat;
}

.foot{
	width: 100%;height: 109px;
	background-color: black;
	background:url("images/to_pay.png")center center no-repeat;
	margin-bottom: 116px;
}


@media only screen and (min-width: 320px) and (max-width: 767px){
.pay_title{margin-top:33px;margin-bottom:29px;}
.pay_title h3{

	font-size:18px;
	background:url(images/h_left_icon.jpg)12px 2px no-repeat;
	background-size: 9px 15.5px;

}
.gold{
	height:198px;
	border-radius:10px;
	margin-bottom: 15px;
}
.money_list li{height:49px;font-size:15.5px;}
.money_list .num{
	background-size: 24.5px 23.5px;
	line-height:49px;
}
.money_list .money{
	line-height:49px;
	text-indent:20%;

}

.hr_3{height:1.5px;}
.pay_select{height:49px;}
.pay_select h3{font-size: 14.5px;padding-top:19px;}
.share{
	height:114px;
}

.share{

	border-radius:0 0 10px 10px;
}

.share li{
	height:114px;
	margin-bottom: 30.5px;
}
.share .weixin{
	background-size: 121px 48.5px;
}
.share .z_f_b{
	background-size: 128px 30.5px;
}

.foot{
	height: 54.5px;
	margin-bottom: 58px;
	background-size: 301.5px 54.5px;
}

}


/*food*/

.food_title{
	height: 42px;width: 100%;
	margin-top: 61px;
	margin-bottom: 15px;
}
.food_title h3{
	font-size: 40px;
	text-indent: 12.8125%;
	background:url(images/left_icon.png)3.75% 4px no-repeat;
	color: #FC7B51;
}
.food_title i{font-style: normal;font-size: 30px;}

.food_body{
	height: auto;width:100%;
	background:url(images/base.png)center top no-repeat;
	background-size: 93.75% 100%;
	margin-bottom: 30%;
}

@media only screen and (min-width: 450px) and (max-width: 600px){
.food_body{
	height: auto;width:100%;
	background:url(images/base.png)center top no-repeat;
	background-size: 93.75% 100%;
	margin-bottom: 40%;
}
}

.logo{
	width:20%;
	position:absolute;top:50px;left:73.75%;
}

.info{
	height: 55px;width: 100%;
	
	padding-top: 10%;/*71px*/
	
}
.ph_m{position:absolute;top:140px;left:6.875%;}
.ph_m img{width: 100%；}
.ph_s{position:absolute;top:204px;left:85.9375%;}

/*两个圆头像不同大小屏幕适配*/
@media only screen and (min-width: 320px) and (max-width: 350px){

.ph_m{position:absolute;top:76px;left:6.3%;width: 44px;height: 43px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 21px;height: 21px;}
}
@media only screen and (min-width: 350px) and (max-width: 400px){

.ph_m{position:absolute;top:76px;left:6.3%;width: 52px;height: 53px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 25px;height: 25px;}
}
@media only screen and (min-width: 400px) and (max-width: 480px){

.ph_m{position:absolute;top:76px;left:6.75%;width: 61px;height: 62px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 29px;height: 29px;}
}
@media only screen and (min-width: 800px) and (max-width: 920px){

.ph_m{position:absolute;top:142px;left:6.75%;width: 105px;height: 103px;}

.ph_s{position:absolute;top:210px;left:85.9375%;width: 50px;height: 50px;}
}
@media only screen and (min-width: 920px) and (max-width: 1100px){

.ph_m{position:absolute;top:142px;left:6.75%;width: 120px;height: 118px;}

.ph_s{position:absolute;top:210px;left:85.9375%;width: 60px;height: 60px;}
}
.info_con,
.info_tit{padding-left: 24.375%;}
.info_tit h3{

	height: 33px;
	color:  #FC7B51;
	font-size: 23px;
	background-color: red;
	background:url("images/man_icon.jpg")144px top no-repeat;
}
.info_con h3{color:#A6A5A5;font-size: 20px;font-weight: normal;}
.info_con h3 i{font-style: normal;padding-left: 26%;}

.info_photo{
	width: 63.75%;
	margin-left:17.97%;
	margin-bottom: 10px;
}
.imgBox{list-style:none;}
.imgBox img{display: none;}
.imgBox .active{
	display: block;
	width: 100%;
}
.details{
	width: 93.75%;height:58px;line-height: 58px;
	font-size: 37.5px;
	margin-left: 3.4%;
}
.details ul{list-style: none;}
.about_food li{float: left;width:36%;color: #FC7B51;}
.received{width: 20%!important;font-size:30px!important;margin-left: 4%;}
.food_num{
	
	background:url("images/food.jpg")left top no-repeat;
	text-indent: 30%;
}
.time_img{
	background:url("images/time.jpg")left top no-repeat;
	text-indent: 30%;
	margin-left: 20%;
}
.black{height: 2px;background-color:#DCDCDC;width: 90%;margin: 4px auto;}
.come_from h3{
	color: #909090;
	height: 90px;
	font-size: 26px;
	margin-top:12px;
	text-align: center;
}
.give_btn{
	margin-top:20px;
	text-align: center;
	margin-bottom: 46px; 
}

/*画按钮*/
.give_btn_bottom{
	background-color: red;
	height: 102px;
	width: 85%;margin: 0 auto;
	border-radius: 60px;
	border:16px solid white;
	background-image:linear-gradient(to bottom,#FDCFC0,#F6A388,#F07E58);
}

.give_left{
	width: 49.5%;height: 100%;
	float: left;
	line-height: 102px;
	background:url("images/food_right_icon.png")85% center no-repeat;

}
.give_left h3{
	text-align:left;text-indent:30%;
	font-size: 33px;
	color: #fff;
}

.give_m{
	height: 80%;width: 1%;
	float: left;
	margin: 10px auto;
	background-image:linear-gradient(to bottom,#D07B58,#DE906B,#D07B58);
}

.give_right{
	width: 49.5%;height: 100%;
	line-height: 102px;
	float: right;
}
.give_right h3{
	text-align: center;
	font-size: 50px;
	font-family: lantinghei SC;
	color: #fff;
}


/*.give_btn_top{
	background-color: #FA7F5B;
	height: 80%;
	width: 90%;
	margin: 0 auto;
}*/



.give_btn img{width: 93.75%;}

.select_money_t{display: none;}
.select_money{
	height:156px;width:35%;
	margin-left: 12%;
	/*background-color: #F9B6A0;*/
	background-image:linear-gradient(to bottom,#FC9C7B,#FA8763,#FA7F5B);
	
}
.select_money ul{list-style: none;width: 100%;}
.select_money ul li{
	height: 52px;
	line-height: 52px;
	text-indent: 20%;
	/*background-color: #FA7F5B;*/
	color: #fff;
	font-size: 33px;
}
.select_money ul li:hover{background-color: #FB7B51;}
.target{
	background:url("images/target.png")center top no-repeat;
	height: 10px;
	width: 35%;
	margin-left: 12%;
}

.load{
	height: 98px;width: 100%;
	background-color: #FFFFFF;
}
.load .load_left{
	float: left;
	width: 50%;
	height: 100%;
}
.logo_icon{float: left;width: 40%;text-indent: 10%;}
.load_info{
	float: right;
	
	width: 60%;
}
.load_left h3{line-height:49px;font-size: 25px;}
.load_left p{height:49px;font-size:25px;}
.load .load_right{
	float: left;
	width: 50%;
	height: 100%;
	text-align: right;	
}
.float{position: fixed;width: 100%;bottom: 0;left:0; }

/*iphone,s4,note3适配*/
@media only screen and (min-width: 320px) and (max-width: 480px){

.food_title{
	height: 21px;
	margin-top: 30.5px;
	margin-bottom: 12.5px;
}
.food_title h3{
	font-size: 20px;
	background:url(images/left_icon.png)3.75% 2px no-repeat;
	background-size: 9px 17px;
}
.food_title i{font-size: 15px;}
.logo{position:absolute;top:25px;left:73.75%;}
.logo img{width: 69px;height: 55.5px;}
.info{
	height: 27.5px;
	
	padding-top: 10%;/*71px*/
	margin-bottom:5px;
}

.info_con,
.info_tit{padding-left: 24.375%;}
.info_tit h3{

	height: 16.5px;
	font-size: 12px;
	background:url("images/man_icon.jpg")74px top no-repeat;
	background-size: 15px 15.5px;
}

.info_con h3{color: #626161;font-size: 10px;}
.info_con h3 i{padding-left: 22%;}

.info_photo{
	margin-bottom: 5px;
}
.details{
	height:29px;line-height: 29px;
	font-size: 18.75px;
}

.received{font-size:15px!important;}
.food_num{
	background-size: 28px 27px;
}
.time_img{
	background-size: 26px 26px;
}
.black{height: 1px;margin: 2px auto;}
.come_from h3{
	height: 45px;
	font-size: 13px;
	margin-top:6px;
}

.select_money{
	height:78px;
}
.select_money ul li{
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}
.target{
	background-size: 9px 5px;
	height: 5px;
}


.give_btn{
	margin-top:10px;
	margin-bottom: 13px; 
}
.load{
	height: 49px;
}
.load_left h3{line-height:24.5px;font-size: 12.5px;}
.load_left p{height:24.5px;font-size: 12.5px;}
.logo_icon img{width: 39.5px;height: 39.4px;}
.load_right img{width: 103.5px;height: 49.5px;}


.select_money{
	height:78px;
}
.select_money ul li{
	height: 26px;
	line-height: 26px;
	font-size: 16px;
}

.give_btn_bottom{
	height: 51px;
	border-radius: 30px;
	border:8px solid white;
}

.give_left{
	line-height: 51px;
	background-size: 41px 22px;
}
.give_left h3{
	font-size: 16px;
}

.give_m{
	margin: 5px auto;
}

.give_right{
	line-height: 51px;
}
.give_right h3{
	font-size: 20px;
}

}

/*稍大屏适配*/
@media only screen and (min-width: 481px) and (max-width: 600px){

.ph_m{position:absolute;top:140px;left:6.3%;width: 70px;height: 68px;}
.ph_s{position:absolute;top:190px;left:85.9375%;width: 33px;height: 33px;}
.logo{
	width:20%;
	position:absolute;top:50px;left:76%;
}
.logo img{width: 96px;height: 77px;}
.food_title h3{

	background-size: 14px 27px;
	font-size: 30px;
}
.food_title i{font-size: 22.5px;}
.info_tit h3{
	height: 33px;
	font-size: 18px;
	background:url("images/man_icon.jpg")115px top no-repeat;
	background-size: 24px 25px;
}
.info_con h3{color: #626161;font-size: 16px;}

.come_from h3{

	height: 72px;
	font-size: 20px;
	margin-top:9px;
}

.load_left h3{line-height:39px;font-size: 20px;}
.load_left p{height:39px;font-size: 20px;}

.load_right img{width: 165px;height: 79px;}
.logo_icon img{width: 63px;height: 63px;}


.select_money{
	height:124px;
}
.select_money ul{list-style: none;width: 100%;}
.select_money ul li{
	height: 41px;
	line-height: 41px;
	font-size: 26px;
}

.give_btn_bottom{
	height: 81px;
	border-radius: 48px;
	border:12px solid white;
}

.give_left{
	line-height: 81px;
	background-size: 65px 35px;
}
.give_left h3{
	font-size: 25px;
}

.give_m{
	margin: 8px auto;
}

.give_right{
	line-height: 81px;
}
.give_right h3{
	font-size: 32px;
}


}

