body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}

body{background-color: #EEEEEE;}

.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.comWidth{width:100%;height:100%;margin:auto auto;}

.p1, .p11, .p2, .p22, .p3, .p33, .p4,.p44{
	display: none;
}
li{width:100px;height:20px;}
li.color{color:red;background:#eee;}
.new-btn-login{
	width: 100%;height: 109px;
	background-color: black;
	background:url("images/to_pay.png")center center no-repeat;
	margin-bottom: 116px;
	margin-top: 40px;
	border:none;
}

#zhan{position: fixed;bottom: 0px;left: auto;}
.share{padding-top: 20px;margin: 0 auto;}
.share img{margin-left: 30%;}
.pay_title{margin-top:66px;margin-bottom:58px;}
.pay_title h3{
	line-height:100%;
	text-align:center;
	font-size:36px;
	background:url(images/h_left_icon.jpg)24px 4px no-repeat;

}
.gold{
	width:93.75%;
	height:396px;
	background-color:#EFEDE4;
	margin:0 auto;
	border-radius:20px;
	margin-bottom: 30px;
}
.money_list{list-style:none;}
.money_list li{height:98px;width:100%;font-size: 31px;line-height: 98px;}
.money_list li:hover{background-color: #F97954;color: #FFFFFF;}
.money_list .num{
	width:50%;height:100%;
	float:left;
	background:url(images/gold.png)22.67% center no-repeat;
	line-height:98px;
	text-indent:23%;
}

.money_list .money{
	width:50%;height:100%;
	float:left;
	line-height:98px;
	text-indent:20%;
}
.hr_3{height:2px;width:100%;background:#A2A2A2;}
.pay_select{height:98px;width:100%;background-color:#DDDAD5; }
.pay_select h3{font-size: 29px;text-indent: 8.75%;padding-top:38px;color: #555554;}
.share{
	height:228px;width: 100%;
	background-color:#EAE8DC;
}
.share input{ font-size: 100px;}

@media only screen and (min-width: 320px) and (max-width: 767px){
#z_f_b, #z_f_b1{width: 128px;height: 30px;}
.pay_title{margin-top:33px;margin-bottom:29px;}
.pay_title h3{

	font-size:18px;
	background:url(images/h_left_icon.jpg)12px 2px no-repeat;
	background-size: 9px 15.5px;

}
.gold{
	height:198px;
	border-radius:10px;
	margin-bottom: 15px;
}
.money_list li{height:49px;font-size:15.5px;}
.money_list .num{
	background-size: 24.5px 23.5px;
	line-height:49px;
}
.money_list .money{
	line-height:49px;
	text-indent:20%;

}

.hr_3{height:1.5px;}
.pay_select{height:49px;}
.pay_select h3{font-size: 14.5px;padding-top:19px;}


.foot{
	height: 54.5px;
	margin-bottom: 58px;
	background-size: 301.5px 54.5px;
}

}


/*food*/

.food_title{
	height: 42px;
	width: 45%;
	margin-top: 61px;
	margin-bottom: 15px;
	margin-left: 30%;
	position: relative;top: 80px;	
}
.food_title h3{
	font-size: 40px;
	text-indent: 12.8125%;
	color: #FC7B51;
}
.food_title i{font-style: normal;font-size: 30px;}

.food_body{
	height: auto;width:100%;
	background:url(images/base.png)center top no-repeat;
	background-size: 93.75% 100%;
	margin-bottom: 40%;
}

@media only screen and (min-width: 450px) and (max-width: 600px){
.food_body{
	height: auto;width:100%;
	background:url(images/base.png)center top no-repeat;
	background-size: 93.75% 100%;
	margin-bottom: 40%;
	}
}

.logo{
	width:20%;
	position:absolute;top:30px;left:73.75%;
}
.logo img{
	width: 193px;height: 155px;
}

.info{
	height: 55px;width: 100%;
	
	padding-top: 10%;
	
}


.ph_m{position:absolute;top:140px;left:6.875%;width: 80px;height: 80px;}
.ph_s{position:absolute;top:204px;left:85.9375%;width: 42px;height: 42px;}

/*两个圆头像不同大小屏幕适配*/
@media only screen and (min-width: 320px) and (max-width: 350px){

.ph_m{position:absolute;top:76px;left:6.3%;width: 44px;height: 43px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 21px;height: 21px;}
}
@media only screen and (min-width: 350px) and (max-width: 400px){

.ph_m{position:absolute;top:76px;left:6%;width: 52px;height: 53px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 25px;height: 25px;}
}
@media only screen and (min-width: 400px) and (max-width: 440px){

.ph_m{position:absolute;top:76px;left:6.35%;width: 57px;height: 57px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 27px;height: 27px;}
}

@media only screen and (min-width: 440px) and (max-width: 480px){

.ph_m{position:absolute;top:76px;left:6.75%;width: 61px;height: 62px;}

.ph_s{position:absolute;top:105px;left:85.9375%;width: 29px;height: 29px;}
}

@media only screen and (min-width: 800px) and (max-width: 920px){

.ph_m{position:absolute;top:142px;left:6.75%;width: 105px;height: 103px;}

.ph_s{position:absolute;top:210px;left:85.9375%;width: 50px;height: 50px;}
}

.info_con,
.info_tit{padding-left: 24.375%;height: 33px;}
.info_tit h3{

	height: 33px;
	color:  #FC7B51;
	font-size: 23px;
	float: left;
}
.info_tit img{
	width: 30px;height: 31px;
	float:left;
	margin-left: 3px;
}

.info_con h3{
	color:#A6A5A5;
	font-size: 20px;
	font-weight: normal;
}
.info_con1{
	float: left;
}
.info_con2{
	float: right;
	padding-right: 30%;
}

.info_photo{
	width: 63.75%;
	margin-left:17.97%;
	margin-bottom: 10px;
	margin-top: 5px;
}
.imgBox{list-style:none;}
.imgBox img{display: none;}
.imgBox .active{
	display: block;
	width: 100%;
}
.details{
	width: 93.75%;height:58px;line-height: 58px;
	font-size: 37.5px;
	margin-left: 3.4%;
}
.details ul{list-style: none;}
.about_food li{float: left;width:36%;color: #FC7B51;}
.received{width: 20%!important;font-size:30px!important;margin-left: 4%;}
.food_num{
	background:url("images/food.jpg")left top no-repeat;
	text-indent: 30%;
}
.time_img{
	background:url("images/time.jpg")left top no-repeat;
	text-indent: 30%;
	margin-left: 10%;
}
.black{height: 2px;background-color:#DCDCDC;width: 90%;margin: 4px auto;}
.come_from h3{
	color: #909090;
	height: 90px;
	font-size: 26px;
	margin-top:12px;
	/*text-align: center;*/
	margin-left: 7.6%;
}
.give_btn{
	margin-top:20px;
	text-align: center;
	margin-bottom: 46px; 
}

.hr_100{width: 100%;height: 100px;}

/*画按钮*/
.give_btn_bottom{
	height: 112px;
	width: 100%;

	background:url("images/btn_23.png")center center no-repeat;
}
.give_left{
	width: 40%;height: 100%;
	float: left;
}
.give_left h3{
	text-align:left;text-indent:55%;
	font-size: 33px;
	color: #fff;
	margin-top: 43px;
}
.give_right{
	width: 132px;
	float: right;
	padding-right: 30px;
	text-align: center;
}
.give_right img{
	height: 115px;
}

.select_money_t{display: none;}
.select_money{
	height:208px;width:35%;
	margin-left: 12%;
	background-image:linear-gradient(to bottom,#FC9C7B,#FA8763,#FA7F5B);
	
}
.select_money ul{list-style: none;width: 100%;}
.select_money ul li{
	height: 52px;
	line-height: 52px;
	text-indent: 20%;
	color: #fff;
	font-size: 33px;
}
.select_money ul li:hover{background-color: #FB7B51;}
.target{
	background:url("images/target.png")center top no-repeat;
	height: 10px;
	width: 35%;
	margin-left: 12%;
}

.load{
	height: 98px;width: 100%;
	background-color: #FFFFFF;
}
.load .load_left{
	float: left;
	width: 50%;
	height: 100%;
}
.logo_icon{float: left;width: 40%;text-indent: 10%;}
.load_info{
	float: right;
	
	width: 60%;
}
.load_left h3{line-height:49px;font-size: 25px;}
.load_left p{height:49px;font-size:25px;color: #777676;}
.load .load_right{
	float: left;
	width: 50%;
	height: 100%;
	text-align: right;	
}
.float{position: fixed;width: 100%;bottom: 0;left:0; }

/*iphone,s4,note3适配*/
@media only screen and (min-width: 320px) and (max-width: 480px){

.food_title{
	height: 21px;width: 65%;
	margin-top: 30.5px;
	margin-bottom: 12.5px;
	position: relative;top: 38px;
	margin-left: 20%;
}
.food_title h3{
	font-size: 18px;
	background-size: 9px 17px;
}
.food_title i{font-size: 13px;}

.logo{position:absolute;top:30px;left:73.75%;}
.logo img{width: 69px;height: 55.5px;}
.info{
	height: 27.5px;
	
	padding-top: 10%;
	margin-bottom:5px;
}

.info_con,
.info_tit{padding-left: 24.375%;height: 16.5px;}
.info_tit h3{

	height: 16.5px;
	font-size: 12px;
	float:left;
}
.info_tit img{
	width: 13px;height: 13.5px;float:left;
}

.info_con h3{color: #626161;font-size: 10px;}
.info_con h3 i{padding-left: 22%;}

.info_photo{
	margin-bottom: 5px;
}
.details{
	height:29px;line-height: 29px;
	font-size: 18.75px;
}

.received{font-size:15px!important;}
.food_num{
	background-size: 28px 27px;
}
.time_img{
	background-size: 26px 26px;
}
.black{height: 1px;margin: 2px auto;}
.come_from h3{
	height: 45px;
	font-size: 13px;
	margin-top:6px;
}

.select_money{
	height:104px;
}
.select_money ul li{
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}
.select_money ul li:hover{background-color: #FB7B51;}
.target{
	background-size: 9px 5px;
	height: 5px;
}

.give_btn{
	margin-top:10px;
	margin-bottom: 13px; 
}
.load{
	height: 49px;
}
.load_left h3{line-height:24.5px;font-size: 12.5px;}
.load_left p{height:24.5px;font-size: 12.5px;}
.logo_icon img{width: 39.5px;height: 39.4px;}
.load_right img{width: 103.5px;height: 49.5px;}

/*画按钮*/
.give_btn_bottom{
	height: 66px;
	width: 100%;

	background:url("images/btn_23.png")center center no-repeat;
	background-size: 90% 100%;
}
.give_left{
	width: 40%;height: 100%;
	float: left;
}
.give_left h3{
	text-align:left;text-indent:55%;
	font-size: 18px;
	color: #fff;
	margin-top: 25px;
}
.give_right{
	width: 73px;height: 67px;
	float: right;
	padding-right: 10px;
	text-align: center;
}
.give_right img{width: 100%;height: 100%;}

}

/*稍大屏适配*/
@media only screen and (min-width: 481px) and (max-width: 600px){

.ph_m{position:absolute;top:140px;left:6.3%;width: 70px;height: 68px;}
.ph_s{position:absolute;top:190px;left:85.9375%;width: 33px;height: 33px;}
.logo{
	width:20%;
	position:absolute;top:50px;left:70%;
}
.logo img{width: 134px;height: 107px;}


.food_title{
	width: 65%;
	position: relative;top: 64px;
	margin-left: 20%;
}
.food_title h3{

	font-size: 30px;
}
.food_title i{font-size: 22.5px;}
.info_tit{padding-left: 24.375%;height: 26px;}
.info_tit h3{

	height: 26px;
	color:  #FC7B51;
	font-size: 18px;
	float: left;
}

.info_tit img{
	width: 20px;height: 21px;float:left;
}
.info_con h3{color: #626161;font-size: 16px;}

.come_from h3{

	height: 72px;
	font-size: 20px;
	margin-top:9px;
}

.received{font-size:25px!important;}
.food_num{
	background-size: 45px 44px;
	font-size: 30px
}
.time_img{
	background-size: 43px 43px;
	font-size: 30px;
}

.load_left h3{line-height:39px;font-size: 20px;}
.load_left p{height:39px;font-size: 20px;}

.load_right img{width: 165px;height: 79px;}
.logo_icon img{width: 63px;height: 63px;}


.select_money{
	height:164px;
}
.select_money ul{list-style: none;width: 100%;}
.select_money ul li{
	height: 41px;
	line-height: 41px;
	font-size: 26px;
}

.select_money ul li:hover{background-color: #FB7B51;}

/*画按钮*/
.give_btn_bottom{
	background-size: 90% 90%;
}

.give_right{
	width: 113px;height: 103px;
	padding-right: 15px;
}
.giv_right img{width: 100%;height: 100%;}

}

@media only screen and (min-width: 600px) and (max-width: 700px){

.logo{
	width:20%;
	position:absolute;top:50px;left:70%;
}
.logo img{width: 134px;height: 107px;}

.food_title{
	width: 65%;
	position: relative;top: 64px;
	margin-left: 20%;
}
.food_title h3{

	font-size: 30px;
}
.food_title i{font-size: 22.5px;}

}

@media only screen and (min-width: 440px) and (max-width: 480px){

.logo{
	width:20%;
	position:absolute;top:14px;left:70%;
}
.logo img{width: 103px;height: 83px;}

.food_title{
	width: 65%;
	position: relative;top: 34px;
	margin-left: 20%;
}
.food_title h3{

	font-size: 25px;
}
.food_title i{font-size: 18px;}

}

@media only screen and (min-width: 374px) and (max-width: 440px){

.logo{
	width:20%;
	position:absolute;top:14px;left:70%;
}
.logo img{width: 97px;height: 78px;}

.food_title{
	width: 65%;
	position: relative;top: 34px;
	margin-left: 20%;
}
.food_title h3{

	font-size: 22px;
}
.food_title i{font-size: 15px;}

}

/*适配电脑*/
@media only screen and (min-width: 700px){

.comWidth{
	width:640px;margin:0 auto;
	position: relative;
}

.food_title{
	height: 42px;/*width: 100%;*/
	width: 420px;
	margin-top: 61px;
	margin-bottom: 15px;
	margin-left: 110px;
	position: relative;top: 60px;	
}
.food_title h3{
	font-size: 38px;
	text-indent: 12.8125%;
	color: #FC7B51;
}
.food_title i{font-style: normal;font-size: 28px;}

.logo{
	position:absolute;top:-16px;left:450px;
}
.logo img{
	width: 151px;height: 122px;
}

.ph_m{position:absolute;top:80px;left:6.875%;width: 80px;height: 80px;}
.ph_s{position:absolute;top:130px;left:85.9375%;width: 42px;height: 42px;}

.info_con2{
	padding-right: 20%;
}

.give_btn_bottom{
	height: 90px;
	width: 565px;
}

.select_money_t{
	display: none;
	width:300px;
	position: absolute;
	bottom: 280px;left:60px;
}
.select_money{
	width: 227px;
	margin-left: 20px;
}

.target{
	width: 227px;
	margin-left: 20px;
}

.load{
	height: 98px;width: 640px;
	margin: 0 auto;
}
.float{
	position:relative;
}

.food_body{
	margin-bottom: 0px;
}

/*画按钮*/
.give_btn_bottom{
	height: 112px;
	width: 100%;

	background:url("images/btn_23.png")center center no-repeat;
}
.give_left{
	width: 40%;height: 100%;
	float: left;
}
.give_left h3{
	text-align:left;text-indent:55%;
	font-size: 33px;
	color: #fff;
	margin-top: 43px;
}
.give_right{
	width: 132px;
	float: right;
	padding-right: 30px;
	text-align: center;
}
.give_right img{
	height: 115px;
}

.give_sc h3{
	font-size: 20px;
}

}

/*弹框2*/

#alertMsg1 {
            display: none;
            width: 280px;height:220px;
            border: 1px solid #ddd;
            border-radius: 20px;
            box-shadow: 1px 1px 10px black;
            padding: 10px;
            position: absolute;
            text-align: center;
            background:url("images/t_bac.png")left top repeat;
            z-index: 100000;
            font-size: 14px;
            color:#7a7a7a;
        }

        #alertClose_btn1{
            display:block;
            width:40px;height: 40px;
            margin-left: 88%;
            background: url("images/close.png")center center no-repeat;
            background-size: 100% 100%;
            cursor:pointer;
        }

        #alertMsg1_info{
            width: 80%;
            margin-left: 10%;
            height: 50px;
            line-height: 1.6em;
            text-align: center;
            font-size: 18px;
        }
        #alertMsg1_info1{margin-top: 1%;}
        #alertMsg1_btn1,#alertMsg1_btn2{
            display: inline-block;
            background-color:#f88a69;
            color: #000000;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            height: 40px;width: 130px;
            border-radius:16px;
            margin-top: 8%;
            margin-left: 3%;

        }
        #alertMsg1_btn1,#alertMsg2_btn1{margin-left: 0px!important;}
        #alertMsg1_btn1 cite,#alertMsg1_btn2 cite{
            display: inline-block;
            padding: 0 13px 0 10px;
            color:#ffffff;
            font-style: normal;
            height: 40px;line-height: 40px;
        }

        #alertMsg1_gold{
            float: left;
            height: 30px;width:30px;
            margin-left: 40%;
          
            
        }
        #alertMsg1_goldNum{
            float: left;
            font-size: 20px;
            margin-top: 8px;

        }
        #alertMsg1_gold_wrap{
            margin-top: 5%;
            width: 100%;
            height: 30px;
        }

/*打赏成功浮框*/
.give_sc{
	display: none;
	width: 70%;
	height: 50px;
	/*background-color: yellow;*/
	background:url("images/fk.png")left top no-repeat;
	background-size:100% 100%;
	margin-left: 15%;
}
.give_sc h3{
	font-size: 12px;font-weight: normal;
	line-height: 50px;
	text-align: center;
}





